#pre-navbar {
    background: $primary;

    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        gap: 2rem;
        color: $href;

        i {
            font-size: 8px;
        }

        a {
            font-size: 20px;
            font-weight: bold;
            color: $href;
            text-decoration: none;
        }
    }

    @media (max-width: 767px) {

        ul {
            gap: 0.5rem;

            i {
                font-size: 6px;
            }

            a {
                font-size: 10px;
            }
        }
        
    }
}

#main-nav {
    padding: 1rem 15px;   
    margin-top: 30px;
    transition: all 0.3s ease-in;
    background: white;

    #main-menu {
        gap: 1rem;

        a {
            font-size: 13px;
            font-weight: 500;
            color: $primary;
        }
    
       .menu-item-has-children {
            a::after {
                border-top-color: $accent;
            }
       }
    }

    /*
    &.transparent {
        background-color: $transparent !important;
        transition: all 0.3s ease-in-out;

        a {
            color: $primary;
            opacity: 0.83;
        }
    }
    */

    @media (max-width: 767px) {
        margin-top: 24px;        
    }
}

/*
 ** Dropdown movil pantalla completa
*/

#navbarNavDropdown {

    @media (max-width: 767px) {
        padding: 3rem 0;
    
        &.collapse {
            height: 100vh;
    
            #main-menu {
                //justify-content: center;
                //align-items: center;
    
                a {
                    font-size: 18px;
                }

                .dropdown-menu {
                    
                    li {

                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}