#opiniones {
    background: url('http://el-arenal.local/img/fondo_opiniones.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 3rem 0;
    height: 400px;
    position: relative;

    #carouselOpiniones {
        &, .carousel-inner {
            display: flex;
            align-items: center;
            height: 400px;
        }

        .carousel-item {
            .nombre {
                color: $primary;
                font-size: 20px;
                font-weight: bold;
            }

            .opinion {
                width: 70%;

                p {
                    color: $primary;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }

        .carousel-control {
            &-next, &-prev {
                position: relative !important;
                background: $primary;
                padding: 5px 25px;
                width: fit-content;
                border-radius: 6px;
                opacity: 1;

                i {
                    color: $accent;
                    margin-left: 0;
                }

                &:focus, &:hover {
                    background: $accent;
                    opacity: 1;

                    i {
                        color: $primary;
                    }
                }

                &.disabled {
                    pointer-events: none;
                    opacity: 0.3;
                }
            }

            &-prev {
                left: 0;
            }

            &-next {
                right: -1rem;
            }
        }
    }
}
