#presentacion,
#presentacion-final {

    .d-flex {
        justify-content: center;
        gap: 20px;
        margin: 3rem 0;
    }

    @media (max-width: 768px) {

        .d-flex {
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
            }
        }
        
    }
}

#presentacion-final {
    margin: 1.5rem 0;;
}