#proyecto-funcional {

    h4 {
        margin: 1.5rem 0;
    }

    span {
        display: block;
        margin-bottom: 15px;
    }

    .btn {
        i {
            margin-left: 15px;
        }
    }
}